{** Copied from o5/grido sources and customized. *}

{snippet grid}

    {php
    $form->getElementPrototype()->class[] = 'ajax grido';
    $form->getElementPrototype()->{"data-grido-refresh-handler"} = $control->link("refresh!", ['page' => NULL, 'perPage' => NULL, 'sort' => NULL, 'filter' => NULL]);

    $filterRenderType = $control->getFilterRenderType();

    $columnCount = count($columns) + ($control->hasOperation() ? 1 : 0);
    $showActionsColumn = $actions || $buttons || $formFilters;

    $actionThElement = \Nette\Utils\Html::el('th');
    $actionThElement->setText($control->translator->translate('Grido.Actions'));
    $actionThElement->class[] = 'actions center';
    }

    {block customization}
        {php
            $customization->iconClass = 'fa';
            $customization->buttonClass = 'btn btn-default btn-mini btn-xs';

            $control->tablePrototype->class[] = 'table table-striped table-hover';

            $form[count]->controlPrototype->class[] = 'form-control';

            if ($control->hasOperation()) {
                $form[operations][operations]->controlPrototype->class[] = 'form-control';
            }
        }

        {foreach $formFilters as $filter}
            {php $filter->controlPrototype->class[] = 'form-control'}
        {/foreach}

        {foreach $actions as $action}
            {php
            $element = $action->elementPrototype;
            $element->class[] = $customization->buttonClass;

            if ($icon = $action->getOption('icon')) {
                $element->setText(' ' . $action->getLabel());
                $element->insert(0, \Nette\Utils\Html::el('i')->setClass($customization->getIconClass($icon)));
            }
        }
        {/foreach}

        {foreach $buttons as $button}
            {php
            $element = $button->getElementPrototype();
            $element->class[] = $customization->buttonClass;

            if ($icon = $button->getOption('icon')) {
                $element->setText(' ' . $button->getLabel());
                $element->insert(0, \Nette\Utils\Html::el('i')->setClass($customization->getIconClass($icon)));
            }
        }
        {/foreach}
    {/block}

    {if $form->getErrors()}
        <ul n:foreach="$form->getErrors() as $error">
            <li>{$error}</li>
        </ul>
    {/if}

    {form form}
        {if $filterRenderType == \Grido\Components\Filters\Filter::RENDER_OUTER}
            {block outerFilterWrapper}
                <div n:block="outerFilter" class="filter outer">
                    <div class="items">
            <span n:foreach="$formFilters as $filter" class="grid-filter-{$filter->getName()}">
                {$filter->getLabel()}
                {$filter->getControl()}
            </span>
                    </div>
                    <div class="buttons">
                        {formContainer buttons}
                            {block outerFilterControls}
                                {if $formFilters}
                                    {input search, style => "display:none"}
                                {/if}
                            {/block}
                        {/formContainer}
                    </div>
                </div>
            {/block}
        {/if}

        {block table}
            {$control->getTablePrototype()->startTag()|noescape}
            <thead>
            <tr class="head">
                <th n:if="$control->hasOperation()" class="checker"{if $formFilters} rowspan="{if $filterRenderType == \Grido\Components\Filters\Filter::RENDER_OUTER}1{else}2{/if}"{/if}>
                    <input type="checkbox" title="{_'Grido.Invert'}">
                </th>
                {foreach $columns as $column}
                    {$column->getHeaderPrototype()->startTag()|noescape}
                    {if $column->isSortable()}
                        <a n:if="!$column->getSort()" n:href="sort! [$column->getName() => \Grido\Components\Columns\Column::ORDER_ASC]" class="ajax">{$column->getLabel()|noescape}</a>
                        <a n:if="$column->getSort() == \Grido\Components\Columns\Column::ORDER_ASC" n:href="sort! [$column->getName() => \Grido\Components\Columns\Column::ORDER_DESC]" class="sort ajax asc">{$column->getLabel()|noescape} <i class="arrow"></i></a>
                        <a n:if="$column->getSort() == \Grido\Components\Columns\Column::ORDER_DESC" n:href="sort! [$column->getName() => \Grido\Components\Columns\Column::ORDER_ASC]" class="sort ajax desc">{$column->getLabel()|noescape} <i class="arrow"></i></a>
                    {else}
                        {$column->getLabel()|noescape}
                    {/if}
                    {$column->getHeaderPrototype()->endTag()|noescape}
                {/foreach}
                {if $showActionsColumn}
                    {=$actionThElement}
                {/if}
            </tr>
            <tr n:if="($filterRenderType == \Grido\Components\Filters\Filter::RENDER_INNER && $formFilters) || $showActionsColumn" class="filter inner" n:block="innerFilter">
                {foreach $columns as $column}
                    {if $column->hasFilter()}
                        {var $f = $control->getFilter($column->getName())}
                        {$f->getWrapperPrototype()->startTag()|noescape}
                        {formContainer filters}
                            {block innerFilterElement}
                                {if $f instanceof \Grido\Components\Filters\Check}
                                    {input $column->getName():}
                                {else}
                                    {input $column->getName()}
                                {/if}
                            {/block}
                        {/formContainer}
                        {$control->getFilter($column->getName())->getWrapperPrototype()->endTag()|noescape}
                    {elseif $column->headerPrototype->rowspan != 2}
                        <th>&nbsp;</th>
                    {/if}
                {/foreach}

                <th n:if="$showActionsColumn" class="buttons" n:inner-block="action">
                    {if $formFilters}
                        {formContainer buttons}
                            <button n:name="$form[buttons][search]" type="submit" class="btn btn-default btn-mini btn-sm">{_'Grido.Search'}</button>
                            <button n:name="$form[buttons][reset]" type="submit" class="btn btn-default btn-mini btn-sm">{_'Grido.Reset'}</button>
                        {/formContainer}
                    {/if}

                    {if $control->hasActions() || $control->hasButtons()}
                        {foreach $buttons as $button}
                            {control $button}
                        {/foreach}
                    {/if}
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="{=$showActionsColumn ? $columnCount + 1 : $columnCount}">
                    <span n:if="$control->hasOperation()" n:block="operations" class="operations"  title="{_'Grido.SelectSomeRow'}">
                    {$form[\Grido\Components\Operation::ID][\Grido\Components\Operation::ID]->control}
                        {php $form[\Grido\Grid::BUTTONS][\Grido\Components\Operation::ID]->controlPrototype->class[] = 'hide'}
                        {$form[\Grido\Grid::BUTTONS][\Grido\Components\Operation::ID]->control}
                    </span>
                    <span n:if="$paginator->steps && $paginator->pageCount > 1" n:block="paginator" class="paginator">
                    {if $control->page == 1}
                        <span class="disabled {$customization->buttonClass}" n:href="page! page => $paginator->getPage() - 1"><i class="{=$customization->getIconClass('arrow-left')}"></i> {_'Grido.Paginator.Previous'}</span>
                    {else}
                        <a class="ajax {$customization->buttonClass}" n:href="page! page => $paginator->getPage() - 1"><i class="{=$customization->getIconClass('arrow-left')}"></i> {_'Grido.Paginator.Previous'}</a>
                    {/if}
                        {var $steps = $paginator->getSteps()}
                        {foreach $steps as $step}
                            {if $step == $control->page}
                                <span class="disabled {$customization->buttonClass}">{$step}</span>
                        {else}
                            <a class="ajax {$customization->buttonClass}" n:href="page! page => $step">{$step}</a>
                            {/if}
                        <a n:if="$iterator->nextValue > $step + 1" class="prompt" data-grido-prompt="{_'Grido.EnterPage'}" data-grido-link="{link page! page => 0}">...</a>
                            {var $prevStep = $step}
                        {/foreach}
                        {if $control->page == $paginator->getPageCount()}
                            <span class="disabled {$customization->buttonClass}" n:href="page! page => $paginator->getPage() + 1">{_'Grido.Paginator.Next'} <i class="{=$customization->getIconClass('arrow-right')}"></i></span>
                    {else}
                        <a class="ajax {$customization->buttonClass}" n:href="page! page => $paginator->getPage() + 1">{_'Grido.Paginator.Next'} <i class="{=$customization->getIconClass('arrow-right')}"></i></a>
                        {/if}
                    </span>
                    <span class="right" n:inner-block="right">
                    <span n:block="perpage" class="count">
                        <label>{= sprintf($control->getTranslator()->translate('Grido.Items'), $paginator->getCountBegin(), $paginator->getCountEnd(), $control->getCount())}</label>
                        {block perPageElement}
                            {input count}
                        {/block}
                        {input $form[buttons][perPage], class => 'hide'}
                    </span>
                    <span n:if="$control->hasExport()" class="export" n:inner-block="export">
                        <a n:class="$customization->buttonClass" href="{=$control->getComponent(\Grido\Components\Export::ID)->link('export!')}" title="{_'Grido.ExportAllItems'}">{_'Grido.Export'}</a>
                    </span>
                </span>
                </td>
            </tr>
            </tfoot>
            <tbody>
            {foreach $data as $row}
                {php $checkbox = $control->hasOperation()
                    ? $form[\Grido\Components\Operation::ID][\Grido\Helpers::formatColumnName($control->getProperty($row, $control->getComponent(\Grido\Components\Operation::ID)->getPrimaryKey()))]
                    : NULL;
                $tr = $control->getRowPrototype($row);
                $tr->class[] = $checkbox && $checkbox->getValue()
                    ? 'selected'
                    : NULL;
            }
                {$tr->startTag()|noescape}
                <td n:if="$checkbox" class="checker">
                    {$checkbox->getControl()}
                </td>
                {foreach $columns as $column}
                    {php $td = $column->getCellPrototype($row)}
                    {$td->startTag()|noescape}
                    {if is_string($column->getCustomRender()) && $column->getCustomRenderVariables()}
                        {include $column->getCustomRender() control => $control, presenter => $control->getPresenter(), item => $row, column => $column, (expand) $column->getCustomRenderVariables()}
                    {elseif is_string($column->getCustomRender())}
                        {include $column->getCustomRender() control => $control, presenter => $control->getPresenter(), item => $row, column => $column}
                    {else}
                        {$column->render($row)|noescape}
                    {/if}
                    {$td->endTag()|noescape}
                {/foreach}
                <td n:if="$showActionsColumn" class="actions center" n:block="actions">
                    {foreach $actions as $action}
                        {control $action $row}
                    {/foreach}
                    {if !$actions}
                        &nbsp;
                    {/if}
                </td>
                {$tr->endTag()|noescape}
            {/foreach}
            <tr n:if="!$control->getCount()"><td colspan="{=$showActionsColumn ? $columnCount + 1 : $columnCount}" class="no-results">{_'Grido.NoResults'}</td></tr>
            </tbody>
            {$control->getTablePrototype()->endTag()|noescape}
        {/block}
    {/form}
{/snippet}
