{block #content-header-title-h1}
    Úkol třetí
{/block}
{block #content-header-title-small}
    Grido
{/block}
{block #content}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Zadání úkolu</h3>
        </div>
        <div class="box-body">
            <p>
                V aplikaci <a href="https://dbs.fit.cvut.cz">BI-DBS</a> <strong>bylo</strong> pro zobrazování dat hojně využívanou komponentou <b>o5/Grido</b>.
                <br>Jelikož koncem minulého semestru bylo nahrazeno komponentou <a href="https://ublaboo.org/datagrid/">Ublaboo/Datagrid</a>, bude vaším úkolem převést tabulku níže, které je ve staré komponentě, do komponenty nové.
            </p>
            <strong>Převeďte:</strong>
            <ul>
                <li>
                    Tabulku na této stránce včetně všech jejích atributů a akcí, a to především:
                    <ul>
                        <li>výpis názvu testu, data konání, počet přihlášených studentl a akci zobrazení studentů,</li>
                        <li>řazení všech sloupců,</li>
                    </ul>
                </li>
                <li>Tabulky, které se zobrazí po použití akce "student",</li>
            </ul>
            do nové komponenty zpracovávající tabulky: <a href="https://ublaboo.org/datagrid/">Ublaboo/Datagrid</a>. Všechny potřebné závislosti jsou již nainstalovány.
            <br> Výstupem je totožná funkcionalita, realizovaná pomocí nové komponenty.
            <br>
            <p class="help-block">Nápověda: pokud se dostanete na chybu <code>Session filter: Filter [params] not found</code>, přejmenujte komponentu z <code>testGrido</code> například na <code>testGrid</code>.</p>
        </div>
    </div>

    {control testGrid}
{/block}
