
{block #content}

<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{_base.forms.signIn}</h3>
            </div>
              <div class="box-body">
               {control signInUserForm}
              </div>
          </div>
