{block #content-header-title-h1}
    {_base.error.e404.h1}
{/block}
{block #content-header-title-small}{_base.error.e404.small}{/block}
{block content}

<p>{_base.error.e404.description}</p>

<input type="button" value="{_base.error.e404.back}" onclick="window.history.back()" />