{block #content-header-title-h1}
    Úkol první
{/block}
{block #content-header-title-small}
    Výsledky zkoušky
{/block}

{block #content}

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Zadání úkolu</h3>
    </div>
    <div class="box-body">

        <p>Níže je tabulka, do které se načítají data z databáze.</p>
        <ul>
            <li>Opravte načítání bodů</li>
            <li>Vypisujte, zda student zkoušku složil úspěšně. Pro úspěšné složení je potřeba získat alespoň 50 bodů, zaokrouhluje se vždy nahoru.</li>
            <li>Zobrazujte datum v lidsky pohodlně čitelné formě (například 28. 3. 2017)</li>
            <li><p class="text-muted">Volitelně: Refaktorujte současný kód (načítání dat v presenteru je špatně)
                    a vytvořte nový model/service, který bude data presenteru poskytovat.</p></li>
        </ul>

        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <th>#</th>
                <th>Jméno</th>
                <th>Získané body</th>
                <th>Složil zkoušku</th>
                <th>Datum</th>
            </tr>
            {foreach $students as $student}
                <tr>
                    <td>{$student->student_score_id}</td>
                    <td>{$student->student->name}</td>
                    <td>{$student->score}</td>
                    <td>{if ceil($student->score) >= 50}
                            Ano
                        {else}
                            Ne
                        {/if}
                    </td>
                    <td>{$student->date|date: 'd.m.Y'}</td>
                </tr>
            {/foreach}
            </tbody>
        </table>

    </div>
</div>
