{layout ../@layout.latte}

{block #content-header-title-h1}
    Úkol druhý
{/block}
{block #content-header-title-small}
    Příspěvky
{/block}
{block #flashMessage}

{/block}
{block #content}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Zadání úkolu</h3>
        </div>
        <div class="box-body">
            <p>V tomto úkolu naleznete aplikaci pro správu příspěvků. Vaším úkolem je doplnit chybějící funkce a opravit chyby, které se v aplikaci nacházejí.</p>
            <ul>
                <li>Implementujte mazání příspěvků.</li>
                <li>U formuláře pro tvorbu příspěvků nastavte následující validační pravidla.</span>
                    <ul>
                        <li><b>Název</b> - požadováno, maximální délka 40 znaků.</li>
                        <li><b>Obsah</b> - minimální délka 5 znaků a maximální délka 700 znaků.</li>
                        <li><b>Autor</b> - požadováno, maximální délka 30 znaků.</li>
                    </ul>
                </li>
                <li>Pokud tabulka na hlavní stránce tohoto úkolu neobsahuje žádný příspěvěk, zobrazte v tabulce řádek obsahující zprávu "Žádný záznam."</li>
                <li>V náhledu příspěvku opravte výpis autora a odkaz na seznam příspěvků.</li>
                <li><p class="text-muted">Volitelně: Pro mazání příspěvků použijte AJAX (snippet).</p></li>
            </ul>
        </div>
    </div>

    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {_$flash->message}
    </div>

    {block #task}
    {/block}
{/block}