{block task}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Seznam příspěvků</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>Autor</th>
                    <th style="width: 30%">Akce</th>
                </tr>
                </thead>
                <tbody>
                {if count($posts) > 0}
                    {foreach $posts as $post}
                        <tr>
                            <td>{$post->getName()}</td>
                            <td>{$post->getAuthor()}</td>
                            <td>
                                <a n:href="showPost $post->getId()" class="btn btn-sm btn-default">
                                    <i class="fa fa-search"></i> Náhled
                                </a>
                                <a n:href="editPost $post->getId()" class="btn btn-sm btn-default">
                                    <i class="fa fa-pencil"></i> Upravit
                                </a>
                                <a n:href="deletePost! $post->getId()" class="btn btn-sm btn-default">
                                    <i class="fa fa-trash"></i> Odstranit
                                </a>
                            </td>
                        </tr>
                    {/foreach}
                {else}
                    Žádný záznam.
                {/if}
                </tbody>
            </table>
            <div class="box-footer">
                <a n:href="newPost" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nový příspěvek</a>
            </div>
        </div>
    </div>
{/block}