{block task}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Nový příspěvek</h3>
        </div>
        <div class="box-body">
            {control postForm}
        </div>
    </div>
{/block}