{block task}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{$post->getName()}</h3>
        </div>
        <div class="box-body">
            <dl>
                <dt>Obsah</dt>
                <dd>{$post->getContent()}</dd>
            </dl>
            <dl>
                <dt>Autor</dt>
                <dd>{$post->getAuthor()}</dd>
            </dl>
        </div>
        <div class="box-footer">
            <a n:href="default" class="btn btn-primary"><i class="fa fa-reply"></i> Zpět na seznam</a>
        </div>
    </div>
{/block}