{foreach $menu->getPath() as $item}
    <li class="{if $item->isActive()} active {/if}">
        <a href="{$item->getLink()}">
            {if $item->hasData('icon')}
                <i class="fa fa-{$item->getData('icon')}"></i>
            {/if}
            {$item->getTranslatedTitle()}
        </a>
    </li>
{/foreach}
