{if !isset($menuParent)}
	{var $menuParent = $menu}
{/if}

<ul n:block="branch" n:if="$menuParent->hasVisualItems()" class="nav navbar-nav">
    <li class="{if $item->isActive()} active {/if}" n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()">
        <a href="{$item->getLink()}"><span>{$item->getTranslatedTitle()}</span></a>
        {include branch, menuParent => $item}
    </li>
</ul>
