{if !isset($menuParent)}
    {var $menuParent = $menu}
{/if}

{if !isset($submenu)}
    {var $submenu = false}
{/if}

{if $submenu}
    <li n:block="branch2" n:if="$menuParent->hasVisualItems()" class="treeview {if $item->isActive()} active {/if}">
        <a href="#">
            {if $item->hasData('icon')}
                <i class="fa fa-{$item->getData('icon')}"></i>
            {/if}
            <span>{$item->getTranslatedTitle()}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu {if $item->isActive()} menu open {/if}">
            <li class="{if $item->isActive()} active {/if}" n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()">
                <a href="{$item->getLink()}">
                    {if $item->hasData('icon')}
                        <i class="fa fa-{$item->getData('icon')}"></i>
                    {/if}
                    <span>{$item->getTranslatedTitle()}</span></a>
                {if $item->hasVisualItems()}
                    {include branch2, menuParent => $item, submenu => true}
                {else}
                    {include branch2, menuParent => $item, submenu => false}
                {/if}
            </li>
        </ul>
    </li>
{else}
    <ul n:block="branch" n:if="$menuParent->hasVisualItems()" class="sidebar-menu">
        <li class="{if $item->isActive()} active {/if}" n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()">
            {if $item->hasVisualItems()}
                {include branch2, menuParent => $item, submenu => true}
            {else}
                <a href="{$item->getLink()}">
                    {if $item->hasData('icon')}
                        <i class="fa fa-{$item->getData('icon')}"></i>
                    {/if}
                    <span>{$item->getTranslatedTitle()}</span></a>
                {include branch2, menuParent => $item, submenu => false}
            {/if}
        </li>
    </ul>
{/if}
