<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{block #title} DBS-QUIZ{/block}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {block #stylesheets}
        <!-- Bootstrap-->
        <link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/Bootstrap/bootstrap.css"/>
        <link rel="stylesheet" href="{$basePath}/css/Bootstrap/daterangepicker-bs3.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/Bootstrap/datetimepicker.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{$basePath}/css/FontAwesome/font-awesome.css"/>
        <!-- AdminLTE -->
        <link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/AdminLTE/AdminLTE.css"/>
        <!-- AdminLTE Skin -->
        <link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/AdminLTE/skins/skin-blue.css"/>
        <!-- Grido CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/Grido/grido.css"/>
        <!-- Highlight.js -->
        <link rel="stylesheet" href="{$basePath}/css/Highlight/tomorrow.css">
        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=latin,latin-ext'
              rel='stylesheet' type='text/css'>
        <!-- jQuery UI -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- DataGrid -->
        <link rel="stylesheet" type="text/css" href="{$basePath}/DataGrid/happy/dist/happy.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/DataGrid/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/DataGrid/ublaboo-datagrid/assets/dist/datagrid.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/DataGrid/ublaboo-datagrid/assets/dist/datagrid-spinners.css">

    {/block}
</head>

<!-- add class without-sidebar to hide left sidebar -->
<body class="hold-transition skin-blue fixed {if $withoutSidebar}without-sidebar{/if}">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <div style="position: relative">
            <a href="" class="logo" data-toggle="dropdown">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>DBS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>BI-</b>DBS</span>
            </a>
        </div>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse pull-left">
                {control headerMenu}
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {if $user->loggedIn}
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>{$user->identity->username}</span>
                            </a>
                        </li>
                        <li><a n:href=":Sign:out"><i class="fa fa-sign-out"></i> <span>{_base.logOut}</span></a></li>
                    {else}
                        <li><a n:href=":Sign:in"><i class="fa fa-sign-in"></i> <span>{_base.logIn} </span></a></li>
                    {/if}
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            {block #sidebar}
                <!-- Sidebar Menu -->

                {control sidebarMenu}

                <!-- /.sidebar-menu -->
            {/block}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {block #content-header-breadcrumb}
                <ol class="breadcrumb">
                    {control headerMenu:breadcrumb}
                    {control sidebarMenu:breadcrumb}
                </ol>
            {/block}
            {block #content-header-title}
                <h1>
                    {block #content-header-title-h1} {/block}
                    <small>{block #content-header-title-small} {/block}</small>
                </h1>
            {/block}

        </section>

        <!-- Main content -->
        <section class="content">
            {block #flashMessage}
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {_$flash->message}
                </div>
            {/block}
            {block #content}

            {/block}
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <strong>Version:</strong> 1.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="//fit.cvut.cz">ČVUT FIT</a>.</strong> {_base.rights}
    </footer>
</div>
<!-- ./wrapper -->
{block #scripts}
    <script src="{$basePath}/js/JQuery/jQuery.js"></script>
    <script src="{$basePath}/js/JQuery/jquery.scrollchaser.min.js"></script>
    <script src="{$basePath}/js/JQuery/jquery.are-you-sure.js"></script>
    <script src="{$basePath}/js/JQuery/jquery.history.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/typeahead.bundle.min.js"></script>
    <script src="{$basePath}/js/moment-with-locales.min.js"></script>
    <script src="{$basePath}/js/Bootstrap/bootstrap.js"></script>
    <script src="{$basePath}/js/Bootstrap/daterangepicker.js"></script>
    <script src="{$basePath}/js/Bootstrap/datetimepicker.min.js"></script>
    <script src="{$basePath}/js/AdminLTE/app.js"></script>
    <script src="{$basePath}/js/AdminLTE/plugins/slimScroll/jquery.slimscroll.js"></script>
    <script src="{$basePath}/js/Grido/grido.bundle.min.js"></script>
    <script src="{$basePath}/js/Highlight/highlight.pack.js"></script>
    <script src="{$basePath}/js/live-form-validation.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{$basePath}/js/ace-builds/src-noconflict/ace.js"></script>
    <script src="{$basePath}/js/ace-builds/src-noconflict/theme-tomorrow.js"></script>
    <script>
        $.nette.init();
    </script>

    <!-- DataGrid -->
    <script src="{$basePath}/DataGrid/happy/dist/happy.js"></script>
    <script src="{$basePath}/DataGrid/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/DataGrid/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/DataGrid/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <script src="{$basePath}/DataGrid/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
    <script src="{$basePath}/DataGrid/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
{/block}

</body>
</html>
